cmake_minimum_required(VERSION 3.19.4)

# Set the project name
project("tutorial")

set(SDL2_DIR='[PATH_TO_SDL]/lib/cmake/SDL2')
set(CMAKE_CXX_STANDARD 14)
set(CMAKE_CXX_COMPILER "g++")

# Find and Include SDL2 Libaries
find_package(SDL2 REQUIRED)
include_directories(${SDL2_INCLUDE_DIRS})

# Include Headers
set(myDesiredRootForHeaderFileSearch ${PROJECT_SOURCE_DIR}/src/headers)
file(GLOB my_include_directories ${myDesiredRootForHeaderFileSearch})
include_directories(${my_include_directories})

# Include source files
include_directories(src)
file(GLOB_RECURSE SRC_FILES ${PROJECT_SOURCE_DIR}/src/*.cpp)

# Add the executable
add_executable("${PROJECT_NAME}" ${SRC_FILES})
target_link_libraries("${PROJECT_NAME}" ${SDL2_LIBRARIES})